a[title]:hover:after {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 12px 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  text-decoration: none;
}

a[title]:hover:after {
  visibility: visible;
  opacity: 1;
}

.SideNavbarMain {
  height: 100vh;
  z-index: 1;
  box-sizing: border-box;
  background-color: #0e1629;
  overflow-x: hidden;
  transition: 0.5s;
  width: fit-content;
  padding: 20px 0;
}
.SideNavbar {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-align: left;
  padding: 0 20px;
}
.SideNavbarLogo img {
  width: 40px;
  height: 40px;
}
.SideNavbarMenu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.SideNavbarMenu ul li {
  text-align: center;
  margin-bottom: 18px;
}
.NavItemSelected a {
  color: #5da394 !important;
}
.SideNavbarMenu ul li a {
  color: #5c647b;
  text-decoration: none;
}
.SideNavbarMenu ul li a span {
  font-size: 26px;
}
.LogoutButton {
  color: #5c647b;
  background: none;
  border: 0;
  cursor: pointer;
  
}
.LogoutButton:hover {
  color: #a35d5d !important;
  transition: all 0.4s ease-in-out;
}
